{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        {% include "default/includes/flash-messages.html.twig" %}

        {{ form(form_todo) }}
    </div>

{% endblock %}
